<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JWeather.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="JWeather.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <JWeather.Properties.Settings>
      <setting name="Autorun" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="voiceTemp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="delayTemp" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="opacityVolume" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="tempChangeTime" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="voiceMaxTemp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="voiceMaxHum" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="voiceMinTemp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="voiceMinHum" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="opacityTemp" serializeAs="String">
        <value>65</value>
      </setting>
      <setting name="opacityTime" serializeAs="String">
        <value>55</value>
      </setting>
      <setting name="voiceTime" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="delayTime" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="voiceDoW" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="intellectualVoice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="voiceDate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="voiceHourMin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="voiceHum" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="defaultPort" serializeAs="String">
        <value>Авто</value>
      </setting>
      <setting name="delayVolume" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="hideWhenRecalledTime" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="hideWhenRecalledTemp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="minNotificationTemp" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="maxNotificationTemp" serializeAs="String">
        <value>31</value>
      </setting>
      <setting name="notifyMaxTemp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="notifyMinTemp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="comandTemp" serializeAs="String">
        <value>6B14</value>
      </setting>
      <setting name="comandTime" serializeAs="String">
        <value>235C</value>
      </setting>
      <setting name="comandSpace" serializeAs="String">
        <value>7D02</value>
      </setting>
      <setting name="comandVolumeUp" serializeAs="String">
        <value>B74</value>
      </setting>
      <setting name="comandVolumeDown" serializeAs="String">
        <value>730C</value>
      </setting>
      <setting name="comandF11" serializeAs="String">
        <value>5DA2</value>
      </setting>
      <setting name="comandMenu" serializeAs="String">
        <value>1768</value>
      </setting>
      <setting name="comandMenuRight" serializeAs="String">
        <value>334C</value>
      </setting>
      <setting name="comandMenuLeft" serializeAs="String">
        <value>532C</value>
      </setting>
      <setting name="comandMenuEnter" serializeAs="String">
        <value>136C</value>
      </setting>
      <setting name="LockingWindow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="comandWeather" serializeAs="String">
        <value>354A</value>
      </setting>
      <setting name="weatherUpdate" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="unitWind" serializeAs="String">
        <value>kmh</value>
      </setting>
      <setting name="unitAP" serializeAs="String">
        <value>mm</value>
      </setting>
      <setting name="opacityWeather" serializeAs="String">
        <value>0.7</value>
      </setting>
      <setting name="delayWeather" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="hideWhenRecalledWeather" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoLocation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Latitude" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Longitude" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="comandFan" serializeAs="String">
        <value>750A</value>
      </setting>
      <setting name="speedFan" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="chartMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="pin" serializeAs="String">
        <value>1234</value>
      </setting>
    </JWeather.Properties.Settings>
    <JWeather.Settings1>
      <setting name="Autorun" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="voiceTemp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="delayTemp" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="opacityVolume" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="tempChangeTime" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="voiceMaxTemp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="voiceMaxHum" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="voiceMinTemp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="voiceMinHum" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="opacityTemp" serializeAs="String">
        <value>65</value>
      </setting>
      <setting name="opacityTime" serializeAs="String">
        <value>55</value>
      </setting>
      <setting name="voiceTime" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="delayTime" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="voiceDoW" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="intellectualVoice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="voiceDate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="voiceHourMin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="voiceHum" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="defaultPort" serializeAs="String">
        <value>Авто</value>
      </setting>
      <setting name="delayVolume" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="hideWhenRecalledTime" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="hideWhenRecalledTemp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="minNotificationTemp" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="maxNotificationTemp" serializeAs="String">
        <value>31</value>
      </setting>
      <setting name="notifyMaxTemp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="notifyMinTemp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="comandTemp" serializeAs="String">
        <value>6B14</value>
      </setting>
      <setting name="comandTime" serializeAs="String">
        <value>235C</value>
      </setting>
      <setting name="comandSpace" serializeAs="String">
        <value>7D02</value>
      </setting>
      <setting name="comandVolumeUp" serializeAs="String">
        <value>B74</value>
      </setting>
      <setting name="comandVolumeDown" serializeAs="String">
        <value>730C</value>
      </setting>
      <setting name="comandF11" serializeAs="String">
        <value>5DA2</value>
      </setting>
      <setting name="comandMenu" serializeAs="String">
        <value>1768</value>
      </setting>
      <setting name="comandMenuRight" serializeAs="String">
        <value>334C</value>
      </setting>
      <setting name="comandMenuLeft" serializeAs="String">
        <value>532C</value>
      </setting>
      <setting name="comandMenuEnter" serializeAs="String">
        <value>136C</value>
      </setting>
      <setting name="LockingWindow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="comandWeather" serializeAs="String">
        <value>354A</value>
      </setting>
      <setting name="weatherUpdate" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="unitWind" serializeAs="String">
        <value>kmh</value>
      </setting>
      <setting name="unitAP" serializeAs="String">
        <value>mm</value>
      </setting>
      <setting name="opacityWeather" serializeAs="String">
        <value>0.7</value>
      </setting>
      <setting name="delayWeather" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="hideWhenRecalledWeather" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoLocation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Latitude" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Longitude" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="comandFan" serializeAs="String">
        <value>750A</value>
      </setting>
    </JWeather.Settings1>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>